{% extends 'main.html' %}

{% load static %}

{% block content %}
<!-- Slider -->
<div class="slider">
    <div class="callbacks_container">
        <div class="klogistics-banner-top1">
            <div class="container">
                <div class="slider-info">
                    <h2>Доступные перевозки любых сложностей</h2>
                    <div class="w3ls-button">
                        <a href="{% url 'contact_page:index' %}">Заказать консультацию</a>
                        <a href="{% url 'main_page:order' %}">Отправить груз</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!-- //Slider -->
<!-- banner-bottom -->
<div class="banner-bottom">
    <div class="col-md-7 bannerbottomleft">
        <div class="video-grid-single-page-agileits">
            <div data-video="d3q5mRA5djY" id="video"><img src="{% static 'images/bg2.jpg' %}" alt=""
                                                          class="img-responsive"/></div>
        </div>
    </div>
    <div class="col-md-5 bannerbottomright">
        <h3>Как мы работаем?</h3>
        <p>Наша компания предоставляет услуги по транспортировке грузов.
            Обратившись к нам, Вы получаете качественные услуги в комплексе.</p>
        <h4><i class="fa fa-taxi" aria-hidden="true"></i>Стабильная система перевозок по Украине</h4>
        <h4><i class="fa fa-shield" aria-hidden="true"></i>Гарантия сохранности товара</h4>
        <h4><i class="fa fa-ticket" aria-hidden="true"></i>Стандартная стоимость курьера</h4>
        <h4><i class="fa fa-space-shuttle" aria-hidden="true"></i>Быстрая доставка</h4>
        <h4><i class="fa fa-truck" aria-hidden="true"></i>Упаковка & хранение</h4>
    </div>
    <div class="clearfix"></div>
</div>
<!-- //banner-bottom -->
<!-- Clients -->
<div class="client-counter">
    <div class=" col-md-6 clients">
        <h3>Отзывы</h3>
        <section class="slider">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="client">
                            <img src="{% static 'images/t1.jpg' %}" alt=""/>
                            <h5>Brian Fantana</h5>
                            <div class="clearfix"></div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .</p>

                    </li>
                    <li>
                        <div class="client">
                            <img src="{% static 'images/t2.jpg' %}" alt=""/>
                            <h5>Brick Tamland</h5>
                            <div class="clearfix"></div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .</p>
                    </li>
                    <li>
                        <div class="client">
                            <img src="{% static 'images/t3.jpg' %}" alt=""/>
                            <h5>Ron Burgundy</h5>
                            <div class="clearfix"></div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .</p>
                    </li>
                    <li>
                        <div class="client">
                            <img src="{% static 'images/t4.jpg' %}" alt=""/>
                            <h5>Arturo Mendez</h5>
                            <div class="clearfix"></div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .</p>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <div class="col-md-6 services-bottom">
        <div class="col-md-6 agileits_klogistics_about_counter_left">
            <div class="countericon">
                <i class="fa fa-truck" aria-hidden="true"></i>
            </div>
            <div class="counterinfo">
                <p class="counter">{{ lists.vehicle.total_vehicle }}</p>
                <h3>Транспортные Средства</h3>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-6 agileits_klogistics_about_counter_left">
            <div class="countericon">
                <i class="fa fa-comments" aria-hidden="true"></i>
            </div>
            <div class="counterinfo">
                <p class="counter">{{ lists.reviews.total_reviews }}</p>
                <h3>Отзывы</h3>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-6 agileits_klogistics_about_counter_left">
            <div class="countericon">
                <i class="fa fa-calendar" aria-hidden="true"></i>
            </div>
            <div class="counterinfo">
                <p class="counter">{{ lists.years.total_years }}</p>
                <h3>Лет службы</h3>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-6 agileits_klogistics_about_counter_left">
            <div class="countericon">
                <i class="fa fa-user" aria-hidden="true"></i>
            </div>
            <div class="counterinfo">
                <p class="counter">{{ lists.clients.total_clients }}</p>
                <h3>Довольных клиентов</h3>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

{% endblock %}